.app {
  width: 55%;
  margin: 32px auto;
}

section {
  margin-top: 25px;
}

h2 {
  margin: 0;
}

.divider {
  background-color: black;
  height: 2px;
}

.lists-container {
  display: flex;
  justify-content: space-around;
}

.edit-btn {
  float: right;
}

input {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

.first-line {
  display: flex;
  justify-content: space-between;
}

/* Personal info */
.personal-info > .fieldset > .field:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
}

.personal-info > .fieldset > .field:nth-child(3) {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Skills */
.skills-container {
  display: flex;
  justify-content: space-around;
}

.hidden {
  list-style: none;
}

/* Refactored */
.skills-contents {
  display: flex;
  justify-content: space-around;
}
