.app {
  width: 55%;
  margin: 32px auto;
}

.divider {
  background-color: black;
  height: 2px;
}

<<<<<<< HEAD
.lists-container {
  display: flex;
  justify-content: space-around;
}

=======
>>>>>>> aa5b5edb2dcf28157749d2317401b19b5222a44b
/* Section */
section {
  margin-top: 25px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0;
}
<<<<<<< HEAD

/* Form */
input {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}
=======
>>>>>>> aa5b5edb2dcf28157749d2317401b19b5222a44b
